/* .navbar {
        overflow: hidden;
        background-color: #333;
         position: fixed; /* Set the navbar to fixed position
        bottom: 0; Position the navbar at the top of the page
        width: 100%; Full width
} */

.navbar {
        height: 200px;
        background-color: white;
        width: 100%;
}