/* 
 .venueBox {
	 width: 100%;
	 height: 150px;
	 background-color: white;
	 margin-top: 20px;
	 border: 1px solid black;
 }
 */

 .img-thumbnail {
	 border-radius: 50%;
	 height: 5rem;
	 width: 5rem;
 }
 

 .row {
	 background-color: white;
	 margin: 0% 1% 1% 1%;
	 border: 1px solid black;
	 padding-top: 2%;
	 padding-bottom: 2%;
 } 

 .row:hover {
	 margin-left: 2%;
	 margin-right: 0;
	 transition: .5s;
 }