@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


.forgot-box{
    width: 280px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}


.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2PX solid #00aeff;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;

}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;

}

.btn2{
    background-color: white;
    color: rgb(250, 250, 250);
    padding: 14px 50px;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid;
    background-color: rgba(0, 0, 0, 0.623);
    border: 3px solid transparent;
    border-image: linear-gradient(-60deg, #1FA2FF, #12D8FA, #A6FFCB);
    border-image-slice: 1;
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-left: 12px;
    margin-right: 12px;

}

.logo1{
    width: 65%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}


P{ 
    color:white;
    font-size: 20px;

}

a { color: cyan; }


a:hover { color:hotpink; }


.nav a { color:green; }



.cetnerbtm{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.help{
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}