@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.sign-up-box{
    width: 280px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.sign-up-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0

}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2PX solid #00aeff;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;

}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;

}

.btn3{
    background-color: white;
    color: rgb(250, 250, 250);
    padding: 14px 80px;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid;
    background-color: rgba(0, 0, 0, 0.623);
    border: 3px solid transparent;
    border-image: linear-gradient(-60deg, #1FA2FF, #12D8FA, #A6FFCB);
    border-image-slice: 1;
    display: block;
    text-align: center;
    margin-top: 15%;
    position: absolute;
    margin-left: 20px;
    margin-right: 10px;    

}



.logo1{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}


P{ 
    color:white;
    font-size: 20px;
    text-align: center;


}


