.bioImg {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

a {
    display: block;
}

.bio {
    border: 1px solid lightgray;
    height: 50%;
    padding: 5px;
    color: lightgray;
}

.row {
    border: none;
}